body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    color: #792304;
}

h1 {
    font-size: 100px;
}

td {
    border-radius: 10px;
    font-size: 80px;
    width: 150px;
    height: 100px;
    text-align: center;
    color: beige;
    transition: 70ms;
}