body {
    background-color: white;
}

button {
    color: white;
    background-color: rgb(0, 110, 255);
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-color: #0000;
    border-radius: 15px;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 110, 255);
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

h4 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

#info{
    color: white;
    font-size: 25px;
    width: 600px;
    background-color: #006eff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    font-weight: normal;
}

.contac{
    display: inline-block;
    height: 80px;
}
.contac a{
    padding: 5px;
    padding-top: 20px;
    vertical-align: top;
}
.contac a i{
    font-size: 50px;
    color: #006eff;
    background: #fff;
    border-radius: 5px;
    transition: 250ms;
    padding: 10px;
}
.contac a:hover i{
    font-size: 75px;
    transition: 250ms;
}
#homebtn{
    font-size: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}