body {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}

h1 {
    font-size: 100px;
}

td {
    border-radius: 10px;
    font-size: 80px;
    width: 150px;
    height: 100px;
    text-align: center;
    color: aliceblue;
    transition: 70ms;
}

#line1 td {
    background-color: #099;
}

#line2 td {
    background-color: #088;
}

#line3 td {
    background-color: #077;
}

.play {
    background-color: lightslategray;
    transition: 150ms;
}