body {
    background-color: white;
    color: #fd6a6a;
}

#info {
    width: 700px;
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #fd6a6a;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #0000;
}

h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}
h4 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

.badge {
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    color: #fff;
    position: absolute;
    padding-top: 5px;
}

.table {
    background-color: #fd6a6a;
    border: 5px #fd6a6a solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    display: block;
    width: fit-content;
    padding: 10px;
}

.row {
    height: fit-content;
    display: block;
}

.column {
    display: inline-block;
    border-radius: 20px;
    font-size: 120px;
    width: 150px;
    height: 130px;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 10px;
}